.container {
    height: calc(100vh - 100px);
    background-color: rgb(232, 225, 225);
    overflow: hidden;
    position: relative;
}

.arrowContainer {
    position: absolute;
    width: 5%;
    height: 7%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
}

.wrapper {
    width: 300vh;
    height: 100%;
    display: flex;
    transition: all 1.5s ease-in-out;
}

.imgContainer {
    height: 100%;
    width: 100vh;
    position: relative;
}

@media screen and (max-width: 480px) {
    .container {
        height: 50vh;
    }
}