.container {
    display: flex;
    padding: 50px;
}

.left {
    flex: 2;
}

.table {
    width: 100%;
    text-align: left;
    margin-bottom: 50px;
}

.row:last-child {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.done {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preparing {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: preparing 1s ease infinite alternate;
}

@keyframes preparing {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pickup {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.3;
}

.pickup .checkedIcon, .preparing .checkedIcon {
    display: none;
}

.right {
    flex: 1;
}

.wrapper {
    width: 100%;
    height: 250px;
    background-color: #444;
    padding: 40px;
    padding-top: 10px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    color: white;
}
.totalTextTitle {
    margin-right: 10px;
}

.button {
    background-color: white;
    height: 25px;
    color: blue;
    font-weight: bold;
    margin-top: 20px;
    cursor: not-allowed;
}

@media screen and (max-width: 480px) {
    .container {
        flex-direction: column;
    }

    .trTitle {
        display: none;
    }

    .tr {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 22px;
    }

    .id::before {
        content: 'Order ID: ';
        font-weight: 500;
    }

    .name::before {
        content: 'Customer: ';
        font-weight: 500;
    }

    .address::before {
        content: 'Address: ';
        font-weight: 500;
    }

    .total::before {
        content: 'Total: ';
        font-weight: 500;
    }

    .row:last-child {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .done, .preparing, .pickup {
        margin-bottom: 22px;
    }

    .wrapper {
        width: 100%;
    }
}