.container {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    z-index: 999;
    align-items: center;
    justify-content: center;
    background-color: rgb(159, 151, 151);
}

.wrapper {
    widows: 500px;
    background-color: white;
    border-radius: 22px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-weight: 250;
}

.item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 18px;
}

.label {
    margin-bottom: 12px;
}

.input {
    height: 35px;
}

.button {
    background-color: rgb(158, 101, 99);
    border: none;
    color: white;
    padding: 12px 20px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}
